<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration debug="true">

  <!-- LOG ELK -->
	<appender name="FILETXTELK" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/{{path_log}}/{{nome_cliente}}-{{nome_sistema}}-geral.log" />
		<param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
			<param name="Threshold" value="ERROR" />
		<param name="encoding" value="ISO-8859-1" />
		<layout class="net.logstash.log4j.JSONEventLayoutV1"/>
	</appender>

	<logger name="{{pacote_logado}}" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILETXTELK" />
	</logger>

	<root>
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILETXTELK" />
	</root>

</log4j:configuration>
